.juiceglass{
    animation-name:juice;
    transform-origin: center;
    animation-direction: alternate;
  /*  animation-timing-function: ease-in-out; */
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    
  
  }
  @keyframes juice {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-5px);
    }

    100%{
        transform: translateX(5px);

    }

   
}